<p>Insert welcome message...</p>

<br>
<b><%= "You have £" + @user.cash_remaining.to_f.round(2).to_s + " remaining this month." %></b>
<br>
<br>
<div class="transaction-list">
  <table style="width:70%">
    <div>
      <tr>
        <th>Merchant Name</th>
        <th>Transaction Amount</th>
        <th>Label</th>
        <th>Date</th>
      </tr>
    </div>
    <% @transactions_present.each do |transaction| %>
    <tr>
      <div>
        <td><%= transaction.name %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.label %></td>
        <td><%= transaction.time_stamp %></td>
      </div>
    </tr>
    <% end  %>
  </table>
</div>
<br>
<br>
<b><%= "You have spent £#{@user.month_spend.to_f.round(2)} of £#{@user.monthly_budget}"%></b>
