<br>
<br>
<b><%= "You have £" + @user.cash_remaining.to_f.round(2).to_s + " remaining this month." %></b>
<br>
<br>
<form class="filter" action="/" method="get">
  <select name="merchant_id">
    <option value="0">No Filter</option>
    <% @merchants.each do |merchant| %>
      <option value="<%=merchant.id%>"><%=merchant.name.capitalize%></option>
    <% end  %>
  </select>
  <select name="label_id">
    <option value="0">No Filter</option>
  <% @labels.each do |label| %>
    <option value="<%=label.id%>"><%=label.label.capitalize%></option>
  <% end  %>
  </select>
  <select name="month_range">
    <option value="1">Last Month</option>
    <option value="3">Last 3 Months</option>
    <option value="6">Last 6 Months</option>
    <option value="12">Last Year</option>
    <option value="all_time">All Time</option>
  </select>
  <input class="btn btn--action-fltr" type='submit' value="Filter">
</form>
<br>
<br>
<div class="transaction-list">
  <table style="width:70%">
    <div>
      <tr>
        <th>Merchant Name</th>
        <th>Transaction Amount</th>
        <th>Label</th>
        <th>Date</th>
      </tr>
    </div>
    <% @transactions_present.each do |transaction| %>
    <tr>
      <div>
        <td><%= transaction.name %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.label %></td>
        <td><%= transaction.time_stamp %></td>
      </div>
    </tr>
    <% end  %>
  </table>
</div>
<br>
<br>
<b><%= "You have spent £#{@user.month_spend.to_f.round(2)} of £#{@user.monthly_budget}"%></b>
